/* div {
    color: blue;
    text-align: center;
    height:50%;
}
 */
.centered{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

 .searchBar {
    border-radius: 20px; 
    width: 500px;
    height: 40px;
    border: 1px solid rgb(218, 217, 217);
 }

 .searchBar:hover{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 4px 4px 0 rgba(0,0,0,0.19);
 }
 .mainLogo {
    text-align:center;
    height:92px;
 }

 .button{
   color: rgb(104, 102, 102);
   font-size: 11pt;
   padding: 10px 20px;
   margin: 8px 5px;
   border: 1px solid white;
   border-radius: 5px;
}

 .button:hover {
   color: rgb(68, 67, 67);
   border: 1px solid silver;
 }
 .buttonAdvanced{
   background-color:#4885ed;
   color: white;
   font-weight: bold;
   font-size: 10pt;
   padding: 8px;
   border-radius: 5px;
}
 .buttonAdvanced:hover {
    background-color: #015497;
    color: white;
 }