{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia Edit Page
{% endblock %}


{% block body %}
    <h1> Editing Page: {{Title}}</h1>
    
    <form action="/wiki/edit/{{title}}" method="POST" class="content">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" class="btn btn-success">
    </form>
    
    <form action="/wiki/del/{{title}}" class="content">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
{% endblock %}

    
